@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-dark-200 bg-light-50;
}

@layer components {
  h1 {
    @apply text-5xl mb-8;
  }

  h2 {
    @apply text-2xl mb-4;
  }

  h3 {
    @apply text-lg mt-2;
  }

  img {
    @apply w-full;
  }
}

/* @media (prefers-color-scheme: dark) {
  body {
    @apply text-light-50 bg-dark-100;
  }
} */

/* Scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply dark:bg-dark-200 bg-light-100;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-50;
}
/* Scrollbar styles */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-container {
  @apply min-h-screen max-w-7xl mx-auto py-12 sm:py-24 px-6 flex flex-col sm:px-8 overflow-x-hidden;
}

.rich-text-container > div > p:last-child {
  @apply mb-10;
}

.rich-text-container > div:last-child > p:last-child {
  @apply mb-0;
}

.poem-container p {
  @apply mb-10;
}
.poem-container p:last-child {
  @apply mb-0;
}

@supports (height: 100dvh) {
  .h-screen {
    height: 100dvh;
  }
  .min-h-screen {
    min-height: 100dvh;
  }
}
