@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* Scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply dark:bg-neutral-700 bg-neutral-300
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply dark:bg-neutral-600 bg-neutral-400
}
/* Scrollbar styles */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rich-text-container > div > p:first-child{
  @apply mt-4;
}

.rich-text-container > div:first-child > p:first-child{
  @apply mt-0;
}