@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-yellow-950 bg-light-50
}

@media (prefers-color-scheme: dark) {
  body {
    @apply text-light-100 bg-dark-50
  }
}

/* Scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply dark:bg-dark-100 bg-light-100
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply dark:bg-dark-100 bg-light-100
}
/* Scrollbar styles */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rich-text-container > div > p:first-child{
  @apply mt-4;
}

.rich-text-container > div:first-child > p:first-child{
  @apply mt-0;
}

@supports (height: 100dvh) {
  .h-screen {
    height: 100dvh
  }
}